:root {
    --primary-color: #ffffff;
    --secondary-color: #ff5edc;
    --tertiary-color: #aafcf0;
    --quaternary-color: #ffe3f0;
    --card-background: #efececd6;
    --font-family: 'Poppins', sans-serif;
    --text-color-secondary: #ffffff;
    --text-color: #000000;
    --text-color-tertiary: #ff5edcb7;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body.dark{
    --primary-color: #121212;
    --secondary-color: #bb86fc;
    --tertiary-color: #03dac6;
    --quaternary-color: #1f1f1f;
    --card-background: #1e1e1e;
    --text-color-secondary: #ffffff;
    --text-color: #ffffff;
    --text-color-tertiary: #bb86fcb7;
   
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--text-color);
}
.header {
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    color: var(--text-color-secondary);
    padding: 20px 20px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-icon i {
    font-size: 62px;
    cursor: pointer;
}
main{
    padding-right: 120px;
}


.information {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 60px;
}
.information-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: fill;
    border: 5px solid #ff5edc;
}
.information-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.information-text {
    font-size: 24px;
    font-weight: 600;
}
.navigation-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.navigation-item{
    background-color: var(--quaternary-color);
padding: 10px 20px;
    border-radius: 7%;
}
.navigation-link{
    text-decoration: none;
    color: var(--text-color-tertiary);
    font-weight: 600;
}

.data-section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.data-card {
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 20px;
}



.data-value {
    color: var(--text-color);
}

.data-label{
    font-weight: 500;
    color: var(--text-color-tertiary);
}

.footer{
    border-top: 1px solid var(--text-color-tertiary);
    padding: 30px 20px;
background-color: var(--card-background);
display: flex;
justify-content: space-between;
align-items: center;

}
.footer-link{
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 7px;
    border: 1px solid var(--text-color-tertiary);
    color: var(--text-color-tertiary);
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacto{
    display: block;
}
.contacto-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.data-input, .data-textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-color-tertiary);
    border-radius: 5px;
    font-family: var(--font-family);
}
.data-button{
    grid-column: span 2;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
}
@media  screen and (max-width:768px) {
    main{
        padding: 0;
    }
    .information {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .navigation-list{
        flex-direction: column;
    }
    .data-section{
        grid-template-columns: 1fr;
    }
    .footer{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}